@import '../../styles/variables.scss';

.container {
  color: white;

  form,
  section {
    input {
      width: calc(100vw - 68px);
      padding: 8px;
      background-color: transparent;
      border: 0;
      color: white;
      border-bottom: 1px solid white;
      outline: none;

      &::placeholder {
        color: white;
      }
    }

    p {
      margin-bottom: 40px;
    }
  }

  section {
    margin: 50px 0;
  }

  .resultList {
    padding: 0;

    .resultItem {
      list-style: none;
      background-color: white;
      margin: 40px 0 0 0;
      overflow: hidden;

      a {
        text-decoration: none;
        display: block;

        h3,
        p {
          padding: 10px;
          margin: 0;
        }

        h3 {
          color: white;
          background-color: black;
        }

        p {
          color: black;
        }
      }
    }
  }

  @media (min-width: $tablet) {
    form {
      input {
        max-width: 580px;
      }
    }

    .resultList {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      li {
        width: calc((100% - 40px) / 2);
      }
    }
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;

    form,
    section {
      width: 1100px;

      input {
        margin-top: 50px;
      }
    }

    form {
      display: flex;
      justify-content: center;
    }

    .gettingStarted {
      h2,
      p {
        text-align: center;
      }
    }
  }
}
