@import '../../styles/variables.scss';

.container {
  color: white;

  form,
  section {
    input {
      width: calc(100vw - 68px);
      padding: 8px;
      background-color: transparent;
      border: 0;
      color: white;
      border-bottom: 1px solid white;
      outline: none;

      &::placeholder {
        color: white;
      }
    }

    p {
      margin-bottom: 40px;
    }
  }

  section {
    margin: 50px 0;
  }

  @media (min-width: $tablet) {

    form {
      input {
        max-width: 580px;
      }
    }
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;

    form,
    section {
      width: 600px;
    }
  }
}
