@import './normalize.scss';
@import './variables.scss';
@import '../../node_modules/highlight.js/styles/atom-one-light.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  background-image: url('../wwwroot/images/bg_texture.png');
  background-attachment: fixed;
}

main {
  padding: 6px 24px;

  @media (min-width: $tablet) {
    padding: 50px calc((100vw - 600px) / 2);
  }

  @media (min-width: $desktop) {
    padding: 50px calc((100vw - 1100px) / 2);
  }
}
