@import '../../styles/variables.scss';

.home {
    color: white;
}

.home__header {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6px;
}

.home__header-slogan {
    font-weight: bold;
    font-size: 40px;
    margin: 40px 0 16px 0;
}

.home__header-subtitle {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: rgba(219, 233, 238, 0.8);
}

.home__header-logo {
    width: 256px;
    margin: 0 auto;
}

.home__header-nav {
    display: flex;
    padding: 0;
    justify-content: center;
    margin: 42px 0;
}

.home__header-nav li {
    display: inline-block;
    list-style: none;
    padding: 0 12px;
    font-size: 18px;
    line-height: 22px;
}

.home__header-nav a:hover {
    color: white;
}

.home__section {
    display: flex;
    flex-direction: column;
    margin: 0 0 80px;
}

.home__section header {
    margin-bottom: 16px;
}

.home__section h2 {
    font-size: 2rem;
}

.home__section p {
    color: #abb7bb;
}

.home__more {
    text-align: center;
    margin: 100px 0 80px 0;
    color: #abb7bb;
    padding: 0 24px;
}

.home__more h2 {
    font-size: 2.5rem;
}

.home__more h2,
.home__more h3 {
    color: white;
}

.home__more-item-wrapper {
    display: flex;
    flex-direction: column;
}

.home__footer {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 24px;
}

.home__footer ul {
    padding: 0;
}

.home__footer ul li {
    list-style: none;
}

.home__footer a:hover {
    color: white;
}

@media screen and (orientation: landscape) {
    .home__header {
        height: auto;
    }

    .home {
        padding-top: 30px;
    }
}

@media screen and (min-width: $tablet) {
    .home__more-item-wrapper {
        flex-direction: row;
        justify-content: space-between;

        div {
            width: calc((100% - 40px) / 3);
            svg {
                height: 28px;
            }
        }
    }
}

@media screen and (min-width: $desktop) {
    .home__section {
        flex-direction: row;
        justify-content: space-between;
    }

    .home__section > div > div {
        width: 580px
    }

    .home__section p {
        max-width: 75%;
    }

    .home__footer {
        justify-content: center;
    }

    .home__footer div {
        margin: 0 24px;
    }
}

@media screen and (min-width: 1500px) {
    .home {
        margin: 0 auto;
    }

    .section-wrapper {
        margin: 0 auto;
    }
}
